<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<br>
<br>
<br><br>
<table bordercolor="black" height="50px" width="1200px">
<tr>
<th>username</th>
<th>emailId</th>
<th>password</th>
<th>status</th>
<th>firstname</th>
<th>lastname</th>
<th>phonenumber</th>
</tr>
<tr ng-repeat="u in users">
<td>{{u.username}}</td>
<td>{{u.emailId}}</td>
<td>{{u.password}}</td>
<td ng-if="u.online">Yes</td>
<td ng-if="!u.online">No</td>
<td>{{u.firstname}}</td>
<td>{{u.lastname}}</td>
<td>{{u.phonenumber}}</td>
</tr>

</table>
</body>
</html>