<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<h2><strong><u>Login</u></strong></h2></center>

		<label for="inputUsername" >Username: </label>
        <input type="text" id="inputUsername" class="form-control" placeholder="Enter Username" ng-model="user.username" autofocus>
        <br>
        <label for="inputPassword" >Password: </label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Enter Password" ng-model="user.password" autofocus>
		<br>
        <button class="button btn btn-lg btn-primary btn-block" type="submit" ng-click="validateUser()"><span class="glyphicon glyphicon-log-in"></span> Sign in</button>
        <br>        

</body>
</html>