<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<br>
<br>
<br><br>
<form>
<br>
<br>
<br><br><br><br><br><br>

username 	: <input type="text"  ng-model="user.username" disabled><Br>
password : <input type="password" ng-model="user.password"><br>
firstname:<input type="text" ng-model="user.firstname"><br>
lastname : <input type="text" ng-model="user.lastname"><br>
EmailId  : <input type="email" ng-model="user.emailId"><br>
phonenumber : <input type="text" ng-model="user.phonenumber"><br>
<input type="submit" ng-click="updateUser()">

</form>

</body>
</html>